
h1{
    margin-left:30px;
    margin-right:1000px;
    background: linear-gradient(45deg, rgb(50,100,255), rgb(50,255,100));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.element{
    margin-left:80px;
    color:rgb(200,100,255);
}
.link{
    margin-left:110px;
}

.left{
    float:left;
    margin: 20px 0px 40px 40px;
}

.right{
    float:right;
    margin: -675px 250px 0px 0px;
}

body{
    background: linear-gradient(90deg, rgb(255,255,255), rgb(205,200,255));
}